DB_HOST=localhost
DB_NAME=iwea
DB_USER=
DB_PASS=
OWM_API_KEY=
AERIS_CLIENT_ID=
AERIS_CLIENT_SECRET=
WWO_API_KEY=
APP_TIMEZONE=Europe/Kyiv
APP_DEFAULT_CITY=3
APP_DEFAULT_SITE=2
APP_DOMAIN=http://localhost:8080
APP_START_DATE=2016-05-12
